:root
{
  --purple: rgb(159, 125, 218);
  --deep-purple: rgb(103, 58, 183);
  --amber: rgb(255, 215, 64);
  --light-amber: rgb(255, 215, 130);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper
{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 90%;
}
app-post
{
  height: 100%;
  background-color: var(--purple);
  padding: 15px;
}
app-post-list
{
  height: 100%;
  background-color: var(--purple);
  padding: 15px;
}

.button-wrapper
{
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
button
{
  margin-top: 50px;
  grid-column: 2;
}

mat-expansion-panel:hover {background-color: var(--amber);}
