:root
{
  --purple: rgb(159, 125, 218);
  --deep-purple: rgb(103, 58, 183);
  --amber: rgb(255, 215, 64);
  --light-amber: rgb(255, 215, 130);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background-color: var(--purple);}

/* .wrapper
{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 90%;
}
app-post
{
  height: 50%;
  background-color: var(--purple);
  padding: 15px;
}
form
{
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
app-post-list
{
  height: 100%;
  background-color: var(--purple);
  padding: 15px;
}

.button-wrapper
{
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
button
{
  margin-top: 50px;
  grid-column: 2;
}

 */

.wrapper { display: grid; grid-template-columns: 50% 50%; }

form { display: grid; grid-template-rows: 0.5fr 3fr 0.5fr; }

button { width: 25%; margin-left: auto; margin-right: auto;}

mat-expansion-panel:hover {background-color: var(--amber);}
